@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
    user-select: none;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    
}

img {
    width: 550px;
    height: 350px;
}

body{
    overflow-x: hidden;
}

#logo {
    display: flex;
    margin: -4.5rem auto 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

#form .form-left {
    position: relative; /* add this */
    font-size: 1.25rem;
    text-align: center;
    width: 50%;
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: fit-content;
}

.form-left h1 {
    font-weight: 500;
    z-index: 1;
}

#form .form-left h1:last-of-type {
    margin-bottom: 35px;
    margin-bottom: -2rem;
    
}

#form .form-left img {
    margin-bottom: -5rem;
}

.form_box {
    width: 30rem;
    background-color: #E9CD9A;
    padding: 2rem;
    margin-left: 8rem;
    border-radius: 4rem;
}

.form_box form {
    display: block;
    margin-top: 15px;
}

.form_box label {
    display: block;
    font-weight: bold;
    margin: .5rem;
    font-family: "Share Tech", sans-serif;
}

.form_box textarea {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
}

.form_box form input {
    width: 100%;
    height: 25px;
    text-align: center;
    display: block;
    border-radius: 12px;
    padding: 1.25rem 0;
    border: none;
}

.form_box h2 {
    font-family: "Share Tech", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.75rem;
    word-spacing: 15px;
    line-height: 2.5rem;
}

.form_box h2:last-of-type {
    margin-bottom: 2rem;
}

.form_box hr {
    width: 100%;
    border: 1px dashed black;
    margin: 2rem 0;
}

.form_box button {
    padding: 1rem 6rem;
    border: none;
    border-radius: 14px;
    background-color: #2196F3;
    font-weight: bold;
    color: white;
}

.form_box button:hover{
    cursor: pointer;
    transition: .2s;
    background-color: #9ACAF8;
}

#tratamentos {
    width: 75%;
    height: 45rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #20B4B8;
    margin: 8.5rem auto 0;
    border-radius: 4rem 4rem 0 0;
}

#tratamentos h2 {
    width: 40%;
    position: absolute;
    right: 15rem;
    top: -5rem;
    font-size: 2.5rem;
    letter-spacing: .25rem;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0 auto 0;
    padding: 1.5rem 0;
    text-align: center;
    background-color: #20B4B8;
    border-radius: 1rem;
    box-shadow: 1px 3px 1px white;
    z-index: 1;
}

#option {
    position: relative;
    display: flex; /* Use flexbox para centralizar facilmente */
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 30%; /* Largura fixa */
    height: 100%; /* Altura total */
    background-color: #5ED2D8;
    z-index: 1;
    border-radius: 4rem 0 0 0;
}

#option div {
    display: flex; /* Utilize flexbox para o conteúdo interno */
    flex-direction: column; /* Organize o conteúdo em coluna */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    height: 15rem; /* Altura fixa */
    text-align: center; /* Centraliza o texto */
    color: white;
    font-size: 2rem;
}

#option div img {
    display: block;
    margin: 0 auto 1rem;
    width: 70px;
    height: 70px;
}

#option div.active {
    width: 100%;
    background-color: #20B4B8;
}

#outros, #tratamento, #implante, #lente {
    width: 100%;
}

#outros:hover, #tratamento:hover, #implante:hover, #lente:hover {
    transition: background-color 0.25s;
    width: 100%;
    background-color: #20B4B8;
    cursor: pointer;
}

#lente {
    border-radius: 4rem 0 0 0;
    transition: background-color 0.25s, border-radius 0s;
}

#lente:hover {
    background-color: #20B4B8;
    border-radius: 4rem 0 0 0;
}

#descricao {
    width: 100%;
    height: 100%;
    background-color: #20B4B8;
    padding: 10rem 2rem 0;
    border-radius: 4rem 4rem 0 0;
}

#descricao p {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .25rem;
    line-height: 3.25rem;
    margin-top: 4rem;
    text-align: center;
    color: white;
    font-family: "Basic", sans-serif;
    font-weight: normal;
}

#avaliacoes {
    width: 75%;
    background-color: #E7FEFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}


#avaliacoes h2 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

#avaliacoes .carroussel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#avaliacoes .carroussel i{
    font-size: 3rem;
    z-index: 2;
}

#avaliacoes .carroussel i:hover{
    cursor: pointer;
}

#avaliacoes .carroussel .carousel-items{
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
    height: 350px;
}

#avaliacoes .carroussel .carousel-items .carousel-item{
    position: absolute;
    transition: opacity 1.5s;
    opacity: 0;
    left: 500rem;
    width: 600px;
}

#avaliacoes .carroussel .carousel-items .carousel-item.active{
    position: absolute;
    left: 0;
    opacity: 1;
    border-radius: 2rem;
    width: 600px;
}

#avaliacoes .radio-selection-carousel {
    display: flex;
    margin-top: 3.5rem;
}

#avaliacoes .radio-selection-carousel label{
    margin-right: 1.5rem;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

.next-btn {
    z-index: 1;
}

#missao {
    width: 75%;
    background-color: #20B4B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 15rem;
    color: white;
}

#missao h2 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5rem;
}

#missao p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 2.5rem;
}

footer #icons {
    font-size: 4rem;
    width: 50%;
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-around;
}

footer #icons a {
    text-decoration: none;
    color: black;
}

footer #icons i:hover {
    cursor: pointer;
}

footer p {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

