@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Literata", serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#thank-you {
    background-color: #20B4B8;
    padding: 3rem 5rem;
    border-radius: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#thank-you h1 {
    font-size: 3rem;
    font-family: "Baskervville", serif;
    color: white;
    margin-bottom: 1rem;
}

#thank-you p {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 2rem;
    font-family: "Basic", sans-serif;
}

#thank-you button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 14px;
    background-color: #9ACAF8;
    font-weight: bold;
    color: white;
    font-family: "Share Tech", sans-serif;
    cursor: pointer;
}

#thank-you button:hover {
    background-color: #5ED2D8;
}
