@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

* {
    margin: 0;
    padding: 0;
    padding-bottom: .5rem;
    box-sizing: border-box;
}

button a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #C3C0AF;
}

body #floating_whatsapp {
    position: fixed;
    bottom: 2.5vw;
    right: 5vw;
    font-size: 4vw;
    color: #40ac22;
    transition: .3s;
}

body #floating_whatsapp:hover {
    cursor: pointer;
    color: #37ff00;
    
}

header {
    display: flex;
    justify-content: center;
    padding: 2vw 0;
}

header img {
    width: 16vw;
    height: 11vw;
}

main {
    text-align: center
}

main #missao {
    height: 40vw;
    margin-bottom: 5vw;
}

main #missao h2 {
    width: 100%;
    padding: 1.25vw 0;
    font-size: 2vw;
    margin: 2vw 0 5vw;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #312C25;
    color: white;
}

main #missao div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45vw;
    height: 25vw;
    background-color: #1E1E1E;
    font-size: 1.4vw;
    color: #D2AB58;
    margin-left: 35vw;
    margin-top: 6vw;
    padding: 2vw 2vw 2vw 5vw;
}

main #missao div img{
    position: absolute;
    width: 20vw;
    left: -16vw;
    top: -3vw;
}

main #main_part h1 {
    font-size: 2vw;
    width: 100%;
    background-color: #312C25;
    color: white;
    text-transform: uppercase;
    padding: 1vw 0;
    margin-bottom: 7vh;
}

main #main_part div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    margin: 7vw auto 0;
}

main #main_part div img {
    height: 15vw;
    width: 25vw;
    border-radius: .5vw;
}

main #main_part div h2 {
    text-align: center;
    font-size: 2vw;
}

main #main_part button {
    position: relative;
    background-color: #3a9c1e;
    width: 25vw;
    padding: 2vw 0;
    font-size: 1.5vw;
    color: white;
    border: none;
    margin-top: 8vh;
    border-radius: 1vw;
}

main #main_part button:hover {
    cursor: pointer;
    background-color: #40d616;
    transition: .2s;
}

main #carousel_clareamento_dental {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

main #carousel_clareamento_dental h2 {
    width: 100%;
    background-color: #312C25;
    color: white;
    padding: 1vw 0;
    font-size: 2vw;
    font-weight: bold;
    margin: 8vh 0 -4vw;
}


main #carousel_clareamento_dental #carousel_content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 25vw;
    font-size: 2vw;
    margin: 5vw auto -2vw;
}

main #carousel_clareamento_dental #carousel_content #carousel_clareamento_images_container {
    position: relative;
    padding: 8vw 12vw;
    margin-bottom: 5vw;
}

main #carousel_clareamento_dental #carousel_content #carousel_clareamento_images_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 24.9vw;
    height: 18.6vw;
    opacity: 0;
}

main #carousel_clareamento_dental #carousel_content #carousel_clareamento_images_container img.active {
    opacity: 1;
    transition: .5s;
}

main #carousel_clareamento_dental #carousel_content i {
    font-size: 2.85vw;
}

main #carousel_clareamento_dental #carousel_content i:hover {
    cursor: pointer;
}

main #carousel_clareamento_dental #carousel_radio_buttons {
    width: 20vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

main #carousel_clareamento_dental #carousel_radio_buttons input {
    width: 1vw;
    height: 1vw;
    border-radius: 4vw;
    margin-bottom: 2vw;
    appearance: none; /* Hide the native radio button */
    border: 1px solid #27221E;
    background-color: #5c5048;
}

main #carousel_clareamento_dental #carousel_radio_buttons input:hover {
    cursor: pointer;
    background-color: #27221E;
}

main #carousel_clareamento_dental #carousel_radio_buttons input:checked {
    background-color: #27221E; /* Example checked state */
}

main #nossos_tratamentos {
    margin-bottom: -6vw;
}

main #nossos_tratamentos h2{
    width: 100%;
    padding: 1vw 0;
    font-size: 1.65vw;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #312C25;
    color: white;
}

main #nossos_tratamentos #todos_tratamentos {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

main #nossos_tratamentos #todos_tratamentos #tratamento h3 {
    font-size: 2vw;
    color: white;
    margin: 4vw 0 2vw;
}

main #nossos_tratamentos #todos_tratamentos #tratamento img {
    width: 15vw;
    border-radius: .5vw;
}

main #avaliacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #avaliacoes #carousel_content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 50vw;
    height: 25vw;
    font-size: 2vw;
    margin: 0vw auto -2vw;
}

main #avaliacoes #carousel_content #carousel_avaliacoes_images_container {
    position: relative;
    padding: 6.15vw 12.45vw;
    height: fit-content;
    margin-bottom: 2vw;
}

main #avaliacoes #carousel_content #carousel_avaliacoes_images_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 24.9vw;
    height: 12.6vw;
    opacity: 0;
}

main #avaliacoes #carousel_content #carousel_avaliacoes_images_container img.active {
    opacity: 1;
    transition: .5s;
}

main #avaliacoes #carousel_content i {
    font-size: 2.85vw;
}

main #avaliacoes #carousel_content i:hover {
    cursor: pointer;
}

main #avaliacoes #carousel_radio_buttons_avaliacao {
    width: 20vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: -2.5vw;
}

main #avaliacoes #carousel_radio_buttons_avaliacao input {
    width: 1vw;
    height: 1vw;
    border-radius: 4vw;
    appearance: none; /* Hide the native radio button */
    border: 1px solid #27221E;
    background-color: #5c5048;
}

main #avaliacoes #carousel_radio_buttons_avaliacao input:hover {
    cursor: pointer;
    background-color: #27221E;
}

main #avaliacoes #carousel_radio_buttons_avaliacao input:checked {
    background-color: #27221E; /* Example checked state */
}

main #avaliacoes h2 {
    width: 100%;
    padding: 1vw 0;
    font-size: 2vw;
    margin: 8vw 0 2vw;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #312C25;
    color: white;
}

main #divisor {
    background-color: #312C25;
    padding: 1vw 0;
    margin: 6vw 0;
}

footer #planos_odontologicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vw;
}

footer #planos_odontologicos h3 {
    font-size: 2vw;
    width: 100%;
    background-color: #312C25;
    color: white;
    padding: 1vw 0;
}

footer #planos_odontologicos #planos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
}

footer #planos_odontologicos #planos img {
    width: 15vw;
}

footer #planos_odontologicos #planos img:first-of-type {
    width: 17vw;
    height: 15vw;
}

footer #planos_odontologicos #planos img:last-of-type {
    height: 6vw;
    width: 14vw;
    margin-top: 1vw;
}

footer #agendar_form {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    flex-direction: column;
    width: 33.5vw;
    height: 30vw;
    margin: 0 auto;
    padding: 4vw 4vw;
    background-image: url('../img/form_background.png');
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

footer #agendar_form h2{
    position: absolute;
    top: 3vw;
    font-size: 2.5vw;
}

footer #agendar_form h3{
    position: absolute;
    top: 9vw;
    font-size: 1.75vw;
}

footer #agendar_form button {
    position: absolute;
    top: 20vw;
    background-color: #64B74D;
    border: .2vw solid #38662b;
    width: 25vw;
    font-size: 1.5vw;
    padding: 1vw 0;
    color: white;
    border-radius: 1vw;
}

footer #agendar_form button:hover {
    cursor: pointer;
    background-color: #4aca26;
    transition: .2s;
}

footer #redes_sociais {
    display: flex;
    justify-content: space-between;
    font-size: 4vw;
    width: 29.5vw;
    margin: 8vw auto 0;
    font-weight: bold;
}

footer #redes_sociais i:hover {
    cursor: pointer;
}

footer #endereco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 6vw 0 2vw;
}

footer #endereco p {
    font-size: 2vw;
    font-weight: bold;
}


@media (max-width: 850px) {
    main #carousel_clareamento_dental #carousel_radio_buttons input, 
    main #avaliacoes #carousel_radio_buttons_avaliacao input {
        width: 1.15vw;
    }
}

@media (max-width: 800px) {
    header img {
        width: 33vw;
        height: 24vw;
    }
    
    main #carousel_clareamento_dental #carousel_radio_buttons input {
        width: 1.25vw;
    }

    main #avaliacoes #carousel_radio_buttons_avaliacao input {
        width: 1.5vw;
    }

    main #main_part {
        margin-bottom: 8vw;
    }

    main #main_part h1{
        font-size: 3vw;
        margin-top: 4vw;
        margin-bottom: 10vw;
        padding: 2vw 0;
    }

    main #main_part div {
        width: 80vw;
    }

    main #main_part div img{
        width: 35vw;
        height: 25vw;
    }

    main #main_part div h2{
        font-size: 4vw;
    }

    main #main_part button {
        width: 40vw;
        padding: 2.5vw 0;
        font-size: 2.5vw;
        font-weight: bold;
        margin-top: 4vh;
        border-radius: 1vw;
    }

    main #clareamento_dental {
        width: 80vw;
    }

    main #clareamento_dental h2 {
        font-size: 12vw;
    }

    main #clareamento_dental p {
        font-size: 4vw;
    }

    main #carousel_clareamento_dental #carousel_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: 50vw;
    }
    
    main #carousel_clareamento_dental #carousel_content #carousel_clareamento_images_container {
        padding: 15vw 25vw;
        margin-bottom: 15vw;
    }
    main #carousel_clareamento_dental #carousel_content #clareamento_carousel_left {
        margin-right: -9vw;
    }

    main #carousel_clareamento_dental #carousel_content #carousel_clareamento_images_container img {
        width: 60vw;
        height: 45vw;
    }

    main #carousel_clareamento_dental #carousel_content i {
        font-size: 6vw;
    }

    main #carousel_clareamento_dental #carousel_radio_buttons  {
        width: 30vw;
    }

    main #avaliacoes {
        margin-bottom: 6vw;
    }

    main #avaliacoes h2 {
        margin-bottom: 2vw;
    }

    main #carousel_clareamento_dental {
        margin-bottom: 11vw;
    }

    main #carousel_clareamento_dental h2 {
        margin-bottom: 2vw;
    }

    main #carousel_clareamento_dental h2,
    main #nossos_tratamentos h2,
    main #avaliacoes h2,
    main #missao h2,
    footer #planos_odontologicos h3 ,
    main #main_part h1{
        font-size: 3.5vw;
        padding: 2vw;
        font-weight: bold;
    }

    main #missao h2 {
        margin-bottom: 15vw;
    }

    main #missao {
        margin-bottom: 35vw;
    }

    main #missao div {
        height: 45vw;
        width: 55vw;
        padding: 0 6vw;
    }

    main #missao div img {
        width: 30vw;
        left: -25vw;
        top: -10vw;
    }

    main #missao div p {
        font-size: 2.2vw;
    }

    main #nossos_tratamentos {
        margin-bottom: 6vw;
    }

    main #nossos_tratamentos h2 {
        margin-bottom: 4vw;
    }

    main #nossos_tratamentos #todos_tratamentos {
        width: 85vw;
        margin: 0 auto 0 4.25vw;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    main #nossos_tratamentos #todos_tratamentos #tratamento {
        margin-left: -8vw;
        width: 40vw;
    }


    main #nossos_tratamentos #todos_tratamentos #tratamento h3{
        font-size: 3vw;
    }

    main #nossos_tratamentos #todos_tratamentos #tratamento img {
        width: 20vw;
    }

    main #avaliacoes #carousel_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        height: 60vw;
        margin-top: -8vw;
    }
    main #avaliacoes #carousel_content #avaliacao_carousel_left {
        margin-right: -8vw;
    }

    main #avaliacoes #carousel_content #carousel_avaliacoes_images_container {
        padding: 10vw 25vw;
        margin-bottom: 5vw;
    }

    main #avaliacoes #carousel_content #carousel_avaliacoes_images_container img {
        width: 60vw;
        height: 35vw;
    }

    main #avaliacoes #carousel_content i{
        font-size: 6vw;
    }

    main #avaliacoes #carousel_radio_buttons_avaliacao {
        width: 45vw;
    }

    footer #redes_sociais i {
        font-size: 9vw;
    }

    footer #endereco p{
        font-size: 5vw;
    }

    footer #planos_odontologicos #planos{
        width: 80vw;
        display: flex;
        justify-content: space-between;
        margin: 6vw 0;
    }

    footer #planos_odontologicos img#porto {
        width: 20vw;
        margin: 0 6vw;
    }

    footer #planos_odontologicos #planos img:last-of-type {
        width: 15vw;
        height: 10vw;
    }

    footer #planos_odontologicos #planos img:first-of-type {
        width: 25vw;
    }

    footer #agendar_form {
        height: 70vw;
        width: 50vw;
        margin-top: -12vw;
        margin-bottom: -6vw;
    }

    footer #agendar_form h2 {
        top: 16vw;
        font-size: 4.75vw;
    }

    footer #agendar_form h3 {
        top: 24vw;
        font-size: 2.75vw;
    }

    footer #agendar_form button {
        top: 42vw;
        font-size: 2.75vw;
        width: 40vw;
        padding: 2vw 0;
    }

    footer #redes_sociais i{
        font-size: 6vw;
    }

    footer #endereco p{
        font-size: 4vw;
    }
}

@media (max-width: 750px) {
    main #carousel_clareamento_dental #carousel_radio_buttons input, 
    main #avaliacoes #carousel_radio_buttons_avaliacao input {
        width: 1.4vw;
    }
}

@media (max-width: 700px) {
    main #carousel_clareamento_dental #carousel_radio_buttons input,
     main #avaliacoes #carousel_radio_buttons_avaliacao input {
        width: 1.45vw;
    }
}


@media (max-width: 600px) {
    main #carousel_clareamento_dental #carousel_radio_buttons input, 
    main #avaliacoes #carousel_radio_buttons_avaliacao input {
        width: 1.8vw;
        height: .5vw;
    }

    main #missao {
        margin-bottom: 60vw;
    }

    main #missao div img {
        width: 50vw;
        height: 70vw;
        top: 0;
        left: -35vw;
    }

    main #missao div {
        width: 63vw;
        height: 75vw;
        margin-left: 36vw;
        margin-top: -8vw;
        padding: 14vw 1vw 14vw 16vw;
        margin-left: 0 auto;
    }

    main #missao div p {
        font-size: 2.8vw;
    }

    footer #agendar_form h3 {
        font-size: 3.5vw;
    }

    footer #agendar_form button {
        top: 45vw;
        font-size: 3.2vw;
    }

    footer #redes_sociais i {
        font-size: 7.75vw;
    }

    footer #planos {
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align: center;
        flex-direction: column;
    }

    footer #planos_odontologicos #planos img:first-of-type {
        width: 35vw;
        height: 30vw;
        margin-bottom: -8vw;
    }

    footer #planos_odontologicos #planos img {
        width: 30vw;
        height: 30vw;
    }

    footer #planos_odontologicos #planos img:last-of-type {
        width: 25vw;
        height: 15vw;
    }
}

@media (max-width: 400px) {
    main #carousel_clareamento_dental #carousel_radio_buttons input, 
    main #avaliacoes #carousel_radio_buttons_avaliacao input {
        width: 2.25vw;
        height: 1vw;
    }

    main #missao {
        margin-bottom: 65vw;
    }

    main #missao div img {
        width: 50vw;
        height: 80vw;
        left: -37vw;
        top: -4vw;
    }

    main #missao div {
        width: 63vw;
        margin-left: 37vw;
        height: 73vw;
        margin-top: -8vw;
        padding: 50vw 1vw 40vw 16vw;
        margin-left: 0 auto;
    }

    main #missao div p{
        font-size: 3.25vw;
    }
    
    main #main_part div img {
        border-radius: 1vw;
    }

    main #main_part div h2 {
        font-size: 4.5vw;
        margin-left: 5vw;
    }

    main #main_part button {
        font-size: 3.5vw;
        width: 50vw;
    }

    body #floating_whatsapp { 
        font-size: 10vw;
    }
}